
<nav class="navbar navbar-fixed-top navbar-home ">
	<div class="">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="col-xs-1">      
			
		</div> 

		<div class="col-xs-6 dropdown-logo">
			<div class="col-xs-2">
				<a href="#" class="">
					<img ng-src="images/logoSolo.png" href="#" class="img-responsive logo-home">
				</a>
				<div class="dropdown-content">
				    <a href="#/eventos">Eventos</a>
				    <a href="#/entidades">Lugares</a>
				    <a href="#/moderacion">Moderacion</a>
				</div>
			</div>

			<div class="col-xs-3 dropdown">
				<a href="#" class="dropbtn">
					<img ng-src="images/logoTexto.png" href="#" class="img-responsive logo-texto-home">
				</a>
				
			</div>						
		</div>


		<div class="col-xs-3">      
			
		</div>

		<div class="col-xs-2">      
			<button type="button" class="btn btn-default btn-lg log-in-button">
			  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log in
			</button>
		</div>   
	</div>
</nav>
<!-- ACA TERMINA EL HEADER Y EMPIEZA EL BODY--> 
<div class="">


	<div class="col-md-12 home-body">
		<h1 class="text-center home-text">¿QUE DESEA BUSCAR?</h1>
		<div class="col-md-offset-4 col-md-2">
			<div class="card hvr-grow" uib-tooltip="LUGARES" tooltip-class="tooltip-home" tooltip-placement="bottom">
                    <a href="#/entidades"><img class="card-img-top" src="images/places.png"></a>
                    
            </div>		
		</div>
		
		<div class="col-md-2">
			<div class="card hvr-grow" uib-tooltip="EVENTOS" tooltip-class="tooltip-home" tooltip-placement="bottom">
				<a href="#/eventos"><img class="card-img-top" ng-src="images/event.png"></a>                  
            </div>
		</div>
		

	</div>

</div>