<!-- NAV FOR LOGED USER -->
<nav class="navbar navbar-fixed-top navbar-default ">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
  
      <div class="col-md-6">
        <div class="col-md-2">
          <a href="#">
            <img ng-src="images/logoSolo.png" href="#" class="img-responsive logo">
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <img ng-src="images/logoTexto.png" href="#" class="img-responsive logo-texto">
          </a>
        </div>
        <div class="col-md-5">
          <input type="text" name="buscador" class="form-control buscador">
        </div>
        
        <div class="col-md-1">
          <button type="button" class="btn icon-btn btn-primary buttons-header">
            <span class="glyphicon glyphicon-search iconos-header"></span>
          </button>          
        </div>
        <div class="col-md-1">
          <button type="button" class="btn icon-btn btn-success buttons-header" ng-click="openAddUpdateModal()" uib-tooltip="Agregar nueva entidad" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-plus iconos-header"></span>
          </button>          
        </div>
      </div>
      <div class="col-md-6">
        
      </div>
      <!-- <a class="navbar-brand" href="#">Home</a> -->
    
    
    </div>
  </div>
</nav>    