<form name="myForm"  ng-submit="validarCreacion(myForm.$valid)" novalidate="novalidate">
	<div class="modal-header">
			<h3 class="modal-title">Organización</h3>
	</div>
	<div class="modal-body">
		
		<ul class="nav nav-tabs nav-justified"><!-- Cabeceras de los tabs -->
			<li ng-class="{ active: isSet(1) }">
			  <a href ng-click="setTab(1)">Datos Principales</a>
			</li>
			<li ng-class="{ active: isSet(2) }">
			  <a href ng-click="setTab(2)">Discapacidades</a>
			</li>
			<li ng-class="{ active: isSet(3) }">
			  <a href ng-click="setTab(3)">Categorías</a>
			</li>
		</ul>
		
		<div class="conteiner"><!-- Contenido de los tabs -->
			
			<div ng-show="isSet(1)"><!-- Aca se cargan campos Datos Principales -->
				<div class="row">
					<br>
					<p class="col-md-12">Completa todos los campos con los datos de tu organización. Aquellos marcados con (*) son requeridos.</p>
					<hr>
					<br>
					<div class="col-md-5">
					<div class="col-md-12">
						<div class="form-group">
							<label for="nombre" class="control-label">Nombre*</label>
							<input name="nombre" type="text" ng-model="nuevaEntidad.nombre" class="form-control" required>
						</div>
					</div>							
					<div class="col-md-12">
						<div class="form-group">
							<label for="calle" class="control-label">Direccion*</label>
							<input type="text" name="direccion" class="form-control" vs-google-autocomplete="options"				                 
					             ng-model="nuevaEntidad.direccion.nombre"
					             vs-place="place" 
					             vs-street-number="nuevaEntidad.direccion.numero" 
					             vs-street="nuevaEntidad.direccion.calle"
					             vs-city="nuevaEntidad.direccion.ciudad"
					             vs-state="nuevaEntidad.direccion.estado"
					             vs-country="nuevaEntidad.direccion.pais"
					             vs-post-code="nuevaEntidad.direccion.codigoPostal"
					             vs-district="nuevaEntidad.direccion.departamento"
					             vs-latitude="nuevaEntidad.direccion.latitud"
					             vs-longitude="nuevaEntidad.direccion.longitud" required>
						</div>
					</div>														
					<div class="col-md-12">
						<div class="form-group">
								<label for="telefono" class="control-label">Telefono*</label>
								<input name="telefono" type="text" ng-model="nuevaEntidad.telefono" class="form-control" ng-minlength="7"
								ng-maxlength="15" placeholder="0351-155612532">
						</div>
					</div>							
					<div class="col-md-12">
						<div class="form-group">
							<label for="email" class="control-label">Email*</label>
							<input name="email" type="email" ng-model="nuevaEntidad.email" class="form-control" required>
						</div>
					</div>
							
					<div class="col-md-12">
						<div class="form-group">
							<label for="web" class="control-label">Sitio Web</label>
							<input name="web" type="text" ng-pattern="/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" ng-model="nuevaEntidad.sitioWeb" class="form-control">
						</div>
					</div>
					</div>		
					<div class="col-md-7">
						<div ng-show="logo==undefined" class="col-md-12">
							<div ngf-drop ngf-select ng-model="logo" class="drop-box" 
						        ngf-drag-over-class="'dragover'" ngf-multiple="flase" ngf-allow-dir="true"
						        accept="image/*" ngf-resize="{width: 200px, height: 200px, centerCrop: true}" ngf-pattern="'image/*'">Drop images here or click to upload</div>
	    				</div>
	    				<img ngf-thumbnail="logo" class="image-box">
					<div class="col-md-12">
						<div class="form-group">
							<label for="descripcion" class="control-label">Descripción*</label>
							<textarea name="descripcion" ng-model="nuevaEntidad.descripcion" rows="3" class="form-control" required></textarea>
						</div>
					</div>
					</div>					
				</div>
			</div>
			
			<div ng-show="isSet(2)"><!-- Aca se cargan campos Discapacidades -->
				<div class="row" >
					<br>
					<div class="col-md-12"><h4> Selecciona el tipo de discapacidades a las que brindas apoyo</h4></div>
					<br>					
					<div class="checkbox col-md-12 ">
						<div class="col-xs-1"></div>
						<div class="col-xs-2" id="image{{$index+1}}" ng-repeat="disc in listadoDiscapacidades">
							<img  src="{{disc.urlImagen}}"  ng-click="seleccionarDiscapacidad(disc)" uib-tooltip="{{disc.nombre}}">
						</div>						
					</div>
					
					<div class="col-xs-12 discapacidades-seleccionadas">
						<div class="col-md-4"><p>Discapacidades Seleccionadas</p></div>
						<div class="col-md-8">
							<ul style="list-style-type:none;">
								<li style="display: inline;margin: 0 10px 0 0;" ng ng-repeat="sel in discapacidadesSeleccionadas">
									<label class="label label-success">{{sel.nombre}}</label>
								</li>
							</ul>
						</div>
					</div>
										
				</div>
			</div>
			
			<div ng-show="isSet(3)"><!-- Aca se cargan Categorias / subcategorias -->
				<div class="row">
					<br>
					<div class="col-md-12"><h4>Selecciona las Categorias y subcategorias que apoya tu organización</h4></div>
					<br>
				</div>
								
				<div class="row">
					<br>
					<div class="col-md-12">
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default"  ng-repeat="cat in listadoCategoriasSubcategorias">
								<uib-accordion-heading> {{cat.nombre}} </uib-accordion-heading>								
								<div class="checkbox">									
									<ul>
										<li ng-repeat=" subc in cat.subcategorias">
											<input type="checkbox" 
												   class="form-group" 
												   checklist-model="subCategoriasSeleccionadas" 
												   checklist-value="subc" 
												   disable-valid-styling="true">{{ subc.nombre }}
										</li>
									</ul>
								</div>
							</div>							
						</uib-accordion>
					</div>					
				</div>
				<div class="row">
					<hr>
					<div class="col-md-4"><p>Subcategorias Seleccionadas</p></div>
					<div class="col-md-8">
						<ul style="list-style-type:none;">
							<li style="display: inline;margin: 0 10px 0 0;" ng-repeat="sel in subCategoriasSeleccionadas">
								<label class="label label-success">{{sel.nombre}}</label>
							</li>
						</ul>
					</div>
				</div>			
			</div>
		 </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="anteriorTab()" ng-show="mostrarBtnAnterior">Anterior</button> <!-- Ir a la siguiente Tab -->
		<button class="btn btn-primary" type="button" ng-click="siguienteTab()" ng-show="mostrarBtnSiguiente">Siguiente</button> <!-- Ir a la siguiente Tab -->
		<button class="btn btn-success" type="submit">Aceptar</button>
		<button class="btn btn-danger" type="button" ng-click="cancelar()">Cancelar</button>
	</div>
	</form>