<form name="myForm" ng-submit="validarCreacion(myForm.$valid)" novalidate="novalidate">

<div class="modal-header">
    <h3 class="modal-title"><strong>Nuevo Evento</strong></h3>
    <h5>Completa todos los campos del Evento. Aquellos marcados con (*) son requeridos.</h5>

</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-6">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nombre" class="control-label">Nombre*</label>
                <input name="nombre" type="text" ng-model="nuevoEvento.nombre" class="form-control" required>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="calle" class="control-label">Direccion</label>
                <input type="text" name="direccion" class="form-control" vs-google-autocomplete="options"				                 
                     ng-model="nuevoEvento.direccion.nombre"
                     vs-place="place" 
                     vs-street-number="nuevoEvento.direccion.numero" 
                     vs-street="nuevoEvento.direccion.calle"
                     vs-city="nuevoEvento.direccion.ciudad"
                     vs-state="nuevoEvento.direccion.estado"
                     vs-country="nuevoEvento.direccion.pais"
                     vs-post-code="nuevoEvento.direccion.codigoPostal"
                     vs-district="nuevoEvento.direccion.departamento"
                     vs-latitude="nuevoEvento.direccion.latitud"
                     vs-longitude="nuevoEvento.direccion.longitud">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="web" class="control-label">Sitio Web</label>
                <input name="web" ng-pattern="/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" ng-model="nuevoEvento.sitioWeb" class="form-control">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="web" class="control-label">Facebook</label>
                <input name="web" ng-pattern="/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/" ng-model="nuevoEvento.facebook" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-6">

            <div ng-show="logo==undefined" class="col-md-12">
            <div ngf-drop ngf-select ng-model="logo" class="drop-box" 
                ngf-drag-over-class="'dragover'" ngf-multiple="flase" ngf-allow-dir="true"
                accept="image/*" ngf-resize="{width: 200px, height: 200px, centerCrop: true}" ngf-pattern="'image/*'">Drop images here or click to upload</div>
        </div>
        <img ngf-thumbnail="logo" class="image-box">
    </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="descripcion" class="control-label">Descripción*</label>
                <textarea name="descripcion" ng-model="nuevoEvento.descripcion" class="form-control" rows="3" required></textarea>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="row">
                <div class="col-md-6">
                    <h4>Inicio</h4>
                    <p class="input-group">
                        <input type="text" class="form-control" 
                               uib-datepicker-popup="{{format}}" 
                               ng-model="dt" 
                               is-open="popup1.opened" 
                               datepicker-options="dateOptions"
                               show-button-bar="false"
                               ng-change="fechaInicioSeleccionada()"
                               />
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-1">Hora inicio:</div>
                <div class="col-md-2">                    
                    <div uib-timepicker 
                         ng-model="mytime" 
                         ng-change="changed()" 
                         hour-step="hstep" 
                         minute-step="mstep" 
                         show-meridian="ismeridian">
                    </div>
                </div>
                <div class="col-md-3" ng-hide="verFinalizacion"><a ng-click="mostrarFinalizacion()">+ Fecha de finalización</a></div>

                <div class="col-md-12"><hr></div>
            </div>

            <div class="row" ng-show="verFinalizacion">
                <div class="col-md-6">
                    <h4>Finalización</h4>
                    <p class="input-group">
                        <input type="text" class="form-control" 
                               uib-datepicker-popup="{{format2}}" 
                               ng-model="dt2" 
                               is-open="popup2.opened" 
                               datepicker-options="dateOptions2"
                               show-button-bar="false"/>
                        <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-1">Hora fin:</div>
                <div class="col-md-2">                    
                    <div uib-timepicker 
                         ng-model="mytime2" 
                         ng-change="changed2()" 
                         hour-step="hstep" 
                         minute-step="mstep" 
                         show-meridian="ismeridian">
                    </div>
                </div>
                <div class="col-md-3"><a ng-click="quitarFechaFin()">- Quitar finalización </a></div>

                <div class="col-md-12"><hr></div>
                
            </div>
        </div>
       
        <div class="col-md-12 form-group">
            <div class="col-md-4">
                <div class="form-group">
                    <div ng-dropdown-multiselect="" 
                         options="listadoDiscapacidades" 
                         selected-model="discapacidadesSeleccionadas" 
                         extra-settings="multiselectConfig"
                         translation-texts="traduccionMultiselect" 
                         events="eventosMultiselect" 
                         disable-valid-styling="true">
                    </div>
                </div>
            </div>
            <div class="col-md-8 form-group">
                <ul style="list-style-type:none;">
                    <li style="display: inline;margin: 0 10px 0 0;" ng ng-repeat="disc in discapacidadesSeleccionadas">
                        <label class="label label-success">{{disc.nombre}}</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <div ng-dropdown-multiselect="" 
                         options="organizaciones" 
                         selected-model="organizacionSeleccionada" 
                         extra-settings="multiselectORGConfig"
                         translation-texts="traduccionMultiselectORG" 
                         events="eventosMultiselectORG" 
                         disable-valid-styling="true">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p>¿ La Organización no esta en la lista ? Sugerí una nueva organización</p>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn icon-btn " ng-click="abrirModalNuevaOrganizacion()" uib-tooltip="Alta Nueva Organización" tooltip-placement="bottom">                 
                    <span class="glyphicon glyphicon-plus"></span>
                </button> 
            </div>
            

        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="submit">Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
</div>
</form>