<div class="modal-header registracion-header">
	<h3 class="text-center">Elija el tipo de usuario que usted desea</h3>

</div>

<div class="modal-body registracion-body">
	<div class="col-xs-6 left-container-registracion hvr-glow" ng-click="visualizarModalRegistracionUsuario()">
		<h3 class="titulo-tipo-registracion">PERSONA</h3>
		<img ng-src="images/hombre.png" class="img-registracion">
		<h4>Usted es un usuario discapacitado o no que va a poder sugerir contenido y recibir recomendaciones.</h4>
	</div>
	<div class="col-xs-6 right-container-registracion hvr-glow" ng-click="">
		<H3 class="titulo-tipo-registracion">ORGANIZACION</H3>
		<img ng-src="images/equipo.png" class="img-registracion">
		<h4>Usted es representante de una organizacion y desea gestionar sus Lugares y Eventos.</h4>
	</div>
</div>